@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

/*Media queries for different screen sizes*/
/* Extra small devices (phones) */
@media (max-width: 575.98px) {
}

/* Small devices (tablets) */
@media (min-width: 576px) and (max-width: 767.98px) {
}

/* Medium devices (small laptops and large tablets) */
@media (min-width: 768px) and (max-width: 991.98px) {
}

/* Large devices (desktops) */
@media (min-width: 992px) and (max-width: 1199.98px) {
}

/* Extra large devices (large desktops) */
@media (min-width: 1200px) {
}

body {
  background-color: #f1bdd9;
  font-family: 'Roboto Mono', monospace;
}

/* Section Animation */

section span {
  display: block;
  transform: translateX(-100px);
  opacity: 0;
}

/* Nav bar starts*/

.nav {
  width: 97px;
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 200px; /* Adjust the height as needed */
}

.nav-sections {
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  text-align: center;
  transform: rotate(90deg);
  white-space: nowrap;
}

.nav-sections a {
  text-decoration: none;
  padding: 30px; /* Adjust padding as needed */
}

.nav-sections a:hover {
  color: white;
}

/* Nav bar ends */

/* Header starts */

/* Logos */
.element-logos {
  position: fixed;
  display: flex;
  align-items: center;
  object-fit: cover;
  z-index: 1000;
  padding: 30px;
}

/* LinkedIn Logo */
.element-linkedin-logo {
  margin-right: 10px;
  height: 40px;
  top: 32px;
  width: 40px;
}

.element-linkedin-logo:hover {
  opacity: 0.4;
}

/* GitHub Logo */
.element-github-logo {
  margin-right: 10px;
  height: 40px;
  top: 32px;
  width: 40px;
}

.element-github-logo:hover {
  opacity: 0.4;
}

/* My Resume Button */
.my-resume {
  position: fixed;
  top: 0;
  right: 0;
  left: 10;
  font-family: 'Roboto Mono', monospace;
  background-color: #f1bdd9;
  border-radius: 4px;
  margin: 30px;
}

.my-resume:hover {
  opacity: 0.6;
}

/* Header ends */

/* Intro section */

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

/* Contact Me Button */

.contact-me {
  font-family: 'Roboto Mono', monospace;
  background-color: #f1bdd9;
  border-radius: 4px;
}

.contact-me:hover {
  opacity: 0.6;
}

/* About section */

.about {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.about h1,
.about p {
  max-width: 800px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

/* Projects section */

.projects {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.projects h1 {
  max-width: 800px;
  text-align: center;
  margin-bottom: 20px;
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 50px;
}

.project {
  text-align: center;
  position: relative; /* Add relative positioning to the project container */
}

.project .screen-shot {
  height: 253px;
  object-fit: cover;
  width: 535px;
  margin-bottom: 30px;
  border-radius: 10px;
}

.project-title {
  position: absolute;
  bottom: 0;
  left: 0; /* Align the title to the left */
  font-weight: bold;
}

.github-logo {
  height: 30px; /* Adjust the height as needed */
  position: absolute;
  bottom: 0;
  right: 0;
}

.github-logo:hover {
  opacity: 0.4;
}

/* Contact section */

.contact {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}
