/*Media queries for different screen sizes*/
/* Extra small devices (phones) */
@media (max-width: 575.98px) {
}

/* Small devices (tablets) */
@media (min-width: 576px) and (max-width: 767.98px) {
}

/* Medium devices (small laptops and large tablets) */
@media (min-width: 768px) and (max-width: 991.98px) {
}

/* Large devices (desktops) */
@media (min-width: 992px) and (max-width: 1199.98px) {
}

/* Extra large devices (large desktops) */
@media (min-width: 1200px) {
}

body,
header,
.main-section {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lora', serif;
  font-family: 'Raleway', sans-serif;
  background-color: yellow;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

div {
  display: block;
}

.nav-container {
  display: flex;
  gap: 20px;
  align-items: center;
}

li {
  margin-right: 20px;
  list-style: none;
  float: left;
}

li a {
  text-decoration: none;
  color: black;
  padding: 14px 16px;
}

li a:hover {
  color: pink;
}

a:visited {
  text-decoration: none;
  color: black;
}

p {
  margin: 0;
}

.main-section {
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.main-section h1 {
  margin-top: 0;
  font-size: 50px;
}

.bottom-section {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  margin-top: 20px;
}

.sprint {
  width: 48%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  box-sizing: border-box;
}

.sprint h3 {
  margin-bottom: 10px;
}

.sprint ul {
  list-style-type: none;
  padding: 0;
}

.sprint ul li {
  text-align: center;
}

.sprint ul li a {
  text-decoration: none;
  color: black;
}

.sprint ul li a:hover {
  color: pink;
}

@media (max-width: 767.98px) {
  .bottom-section {
    flex-direction: column;
  }
  .sprint {
    width: 100%;
    margin-bottom: 20px;
  }
}
