/*Media queries for different screen sizes*/
/* Extra small devices (phones) */
@media (max-width: 575.98px) {
  footer {
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0;
    border: 0;
  }
}

/* Small devices (tablets) */
@media (min-width: 576px) and (max-width: 767.98px) {
  footer {
    padding-top: 15px;
    padding-bottom: 15px;
    margin: 0;
    border: 0;
  }
}

/* Medium devices (small laptops and large tablets) */
@media (min-width: 768px) and (max-width: 991.98px) {
  footer {
    padding-top: 25px;
    padding-bottom: 25px;
    margin: 0;
    border: 0;
  }
}

/* Large devices (desktops) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  footer {
    padding-top: 50px;
    padding-bottom: 20px;
    margin: 0;
    border: 0;
  }
}

/* Extra large devices (large desktops) */
@media (min-width: 1200px) {
  footer {
    padding-top: 40px;
    padding-bottom: 40px;
    margin: 0;
    border: 0;
  }
}

body {
  font-family: 'Lora', serif;
  font-family: 'Raleway', sans-serif;
}

.text-center {
  text-align: center;
}

/* Reduce the margin and padding for the list items */
ol {
  margin: 0; /* Remove default margin */
  padding-left: 50vh;
  padding-top: 2vh;
  list-style-position: inside; /* Place numbers inside the list items */
  text-align: left;
  display: flexbox;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

/* Adjust the margin for each list item */
li {
  margin-bottom: 10px; /* Adjust the spacing between items as needed */
}

span.italic {
  font-style: italic;
}

span.large-text {
  font-size: 120px;
}

footer {
  position: fixed;
  bottom: 0;
  left: 25%;
}

span.content {
  line-height: 2.5;
}

img.qr-code {
  width: 100px;
  height: 100px;
}
